name: Release on tag
on:
  push:
    tags:
      - '**'

jobs:
  release:
    runs-on: ubuntu-latest
    outputs:
      url: ${{ steps.create_release.outputs.upload_url }}
    steps:
    #Create a release
    - name: Create Release
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ github.ref }}
        release_name: Release ${{ github.ref }}
        draft: false
        prerelease: false

  x86-64-unknown-linux-gnu:
    runs-on: ubuntu-latest
    needs:
    - release
    steps:
    - uses: actions/checkout@v2

    # Dependencies
    - name: Install dependencies
      run: sudo apt-get update && sudo apt-get install -y make gcc libssl-dev
    - name: Install Rust
      run: curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
    - name: Add Rust binaries to path
      run: export PATH="$HOME/.cargo/bin:$PATH"
    - name: Add target
      run: rustup target add x86_64-unknown-linux-gnu
    
    # Build
    - name: Build
      run: cargo build --lib --release --target x86_64-unknown-linux-gnu

    #Attach compiled binary to release
    - name: Attach binary to release
      id: upload_release_asset
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
         upload_url: ${{ needs.release.outputs.url }}
         asset_path: x86-64-unknown-linux-gnu
         asset_name: x86-64-unknown-linux-gnu
         asset_content_type: application/octet-stream